.stats {
width: 100%;
background: #ffffff;

padding: 36px 32px;

border-top: 1px solid #E2E8F0;
border-bottom: 1px solid #E2E8F0;
}

.stats-container {
max-width: 1280px;
margin: auto;

display: flex;
justify-content: space-between;
align-items: center;
}

.stat-item {
 text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-item h3 {
font-family: 'Inter', sans-serif;
font-size: 30px;
font-weight: 900;
line-height: 36px;
color: #2563EB;
margin-bottom: 2px;
}

.stat-item p {
font-family: 'Inter', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 20px;
color: #64748B;
}
